.registration {
    width:350px;
}
.registration i {
    color:red;
    font-weight:bold;
}
.registration label {
    font-size: 18px;
    font-weight:normal;
}
.registration .y-style {
    background-color: #fefdeb;
    font-size: 18px;
}
.registration .file-input {
    width: 350px;
    padding: 0 0;
    text-align: left;
    font-size: 16px;
    background-color: #fefdeb;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rel-pos-m20 {
    position: relative;
    margin-bottom: 20px;
}
.error-text {
    color: red;
    position: absolute;
    bottom: -19px;
    padding: 0 3px;
}

.registration img.whours {
    width:14px;
    margin: 0 0 0 10px;
    cursor:pointer;
}


.table .no-bottom {
    margin-bottom: 0px;
}
.registration td.no-border  {
    margin: 0px;
    border: 0px none #ffffff;
    padding: 0 0 1px 0;
    vertical-align: middle;
}
.registration th.day {
    width:28%;
}
.registration th.from-until {
    width:33%;
}

.registration .yh-style {
    width: 70px;
    padding: 2px 7px;
    font-size: 15px;
    text-align:center;
    background-color: #fefdeb;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration td.td-center  {
    text-align:center;
    cursor:pointer;
}

.registration .pointer {
    cursor:pointer;
}

.hours-margin {
    margin:0 0 -48px 0;
}

.save-button {
    margin: 40px 0 0px;
    border-top: 1px solid #eee;
    padding-top: 9px;
}
.save-profile-bkground {
    background-color:#ffb853;   /* #f0ad4e   #ffb853   #5bc0de   #f0c282 */
}
.save-profile-color {
    color:#333;
}

/* ===   Home page   === */
.companies .td1 {
    width: 20%;
}
.companies .td2 {
    width: 60%;
    padding: 20px 0 20px 20px;
    text-align: left;
    font-size: 14pt;
}
.pointer {
    cursor:pointer;
}

/* ===   other styles   === */
.blank {
    margin: 20px 0 0 0;
}
.font14 {
    font-size:14px;
}
.font14pt {
    font-size:14pt;
}
.font16 {
    font-size:16px;
}
.font18 {
    font-size:18px;
}
.font22 {
    font-size:22px;
}



