.blank {
    margin: 20px 0 0 0;
}

.font14 {
    font-size:14px;
}
.font16 {
    font-size:16px;
}
.font18 {
    font-size:18px;
}
.font22 {
    font-size:22px;
}

.registration {
    width:350px;
}

.registration label {
    display:block;
    font-size: 18px;
    font-weight: 200;
}

.registration i {
    color:red;
    font-weight:bold;
}

.registration input {       /* class="form-control" */
  display: block;
/*
  font-size: 14px;
  line-height: 1.42857143;   */
  padding: 6px 12px;
  color: #333;
  background-color: #fefdeb;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    width: 100%;
    height: 34px;
    font-size: 18px;
}
.registration input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.registration select {
  display: block;
  color: #333;
  background-color: #fefdeb;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    width: 60%;
    height: 34px;
    font-size: 18px;
    margin:0 0 57px 0;
}
.registration select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


.registration img {
    width:14px;
    margin: 0 0 0 10px;
    cursor:pointer;
}

.table .no-bottom {
    margin-bottom:0px;
}

.registration td.no-border  {
    margin:0px;
    border:0px none #ffffff;
    padding:0 0 1px 0;
    vertical-align:middle;
}

.registration th.day {
    width:28%;
}
.registration th.from-until {
    width:33%;
}

.registration td input {
    width:70px;
    padding:2px 7px;
    font-size: 15px;
    text-align:center;
}

.registration td.td-center  {
    text-align:center;
    cursor:pointer;
}

.registration .pointer {
    cursor:pointer;
}
.registration .show-hours::after {
	content: "click to edit the timetable";   /* url("../img/down.png");  */
    cursor:pointer;
    margin:0 0 0 10px;
    padding: 2px 7px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
    font-weight:normal;
    color:#333;
    background:#fefdeb;   /* #337ab7; */
}
.registration .hide-hours::after {
	content: url("../img/up.png");
    cursor:pointer;
}

.hours-margin {
    margin:0 0 -48px 0;
}

.registration .contact-manager {
    margin:0 0 0 30px;
}

.save-button {
    margin: 40px 0 0px;
    border-top: 1px solid #eee;
    padding-top: 9px;
}

.save-profile-bkground {
    background-color:#ffb853;   /* #f0ad4e   #ffb853   #5bc0de   #f0c282 */
}
.save-profile-color {
    color:#333;
}

