<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-0 col-md-8 col-md-offset-0 col-lg-6 col-lg-offset-0">
    <h2>Your Company Profile</h2>

      <div>     <!--  NO need in  ng-controller="ProfileController as ctrl" here -- this is already stated in the ngRoute -->

<!-- Tabs selector -->
        <form name="regForm" novalidate>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Basics' ">Basics</a></li>
              <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Logo' ">Logo</a></li>
              <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Hours' ">Hours</a></li>
              <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Plans' ">Plans</a></li>
              <li role="presentation" class="font22 save-profile-bkground"><a href="" data-toggle="tab"
                   ng-click="ctrl.currentTab='SaveProfile'; ctrl.saveCompanyProfile(regForm.$valid, ctrl.savingResult)"
                   class="save-profile-color">Save profile</a></li>
            </ul>

    <!--   ng-SWITCH   -->
         <div ng-switch="ctrl.currentTab">

    <!-- TAB: Basic information -->
          <div class="registration" ng-switch-when="Basics">
            <div class="page-header">
              <h2>Basic information</h2>
            </div>

            <div class="form-group rel-pos-m20"
                   ng-class="{'has-error': f1.$invalid && ctrl.visited1 || f1.$error.pattern}">
                <label for="companyName"><i>*</i> Business name:</label>
                <input type="text" id="companyName" name="companyName" class="form-control y-style"
                         ng-model="ctrl.regData.companyName"
                         required=""
                         ng-pattern="/^[^<>]{1,50}$/"
                         ng-blur="ctrl.visited1=true" >
                <span ng-init="f1=regForm.companyName" ></span>
                <div ng-show="f1.$error.required && ctrl.visited1" class="error-text">This field is required</div>
                <div ng-show="f1.$error.pattern" class="error-text">Inadmissible or over limit character(s)</div>
            </div>

            <div class="form-group rel-pos-m20"
                   ng-class="{'has-error': f2.$invalid && ctrl.visited2 || f2.$error.pattern}">
                <label for="foundedAt"><i>*</i> Founded at:</label>
                <input type="text" id="foundedAt" name="foundedAt" class="form-control y-style"
                         placeholder="2000"
                         ng-model="ctrl.regData.foundedAt"
                         required=""
                         ng-pattern="/^1[\d]{3}$|^20[0-1][\d]$/"
                         ng-blur="ctrl.visited2=true">
                <span ng-init="f2=regForm.foundedAt" ></span>
                <div ng-show="f2.$error.required && ctrl.visited2" class="error-text">This field is required</div>
                <div ng-show="f2.$error.pattern" class="error-text">Please type a number from 1000 to 2019</div>
            </div>

            <div class="form-group rel-pos-m20"
                   ng-class="{'has-error': f3.$invalid && ctrl.visited3 || f3.$error.email}">
                <label for="email"><i>*</i> Contact email:</label>
                <input type="email" id="email" name="email" class="form-control y-style"
                         placeholder="your_name@company.com"
                         ng-model="ctrl.regData.email"
                         required=""
                         ng-blur="ctrl.visited3=true" >
                <span ng-init="f3=regForm.email" ></span>
                <div ng-show="f3.$error.required && ctrl.visited3" class="error-text">This field is required</div>
                <div ng-show="f3.$error.email" class="error-text">Please type correct email</div>
            </div>

            <div class="form-group">
                <label for=""><i>*</i> Accept payments:</label>
                <select ng-model="ctrl.regData.paymentMethod"
                           ng-options="method for method in ctrl.paymentMethods" class="form-control y-style">
                </select>
            </div>

          </div>   <!-- <div class="registration"> -->


     <!-- TAB: Logo -->
          <div class="registration"  ng-switch-when="Logo">
            <div class="page-header">
              <h2>Company logo</h2>
            </div>

            <!-- Current logo displaying, if exists -->
            <div ng-show="ctrl.regData.logoUrl != '' ">
                <h3>Current logo:</h3>
                <div class="text-center">
                    <img ng-src="{{ ctrl.regData.logoUrl }}" alt="Current company logo">
                </div>
            </div>

            <hr ng-show="ctrl.regData.logoUrl != '' ">
            <h3><span ng-hide="ctrl.regData.logoUrl != '' ">Add</span><span ng-show="ctrl.regData.logoUrl != '' ">Change</span>
                  the logo<span ng-show="ctrl.regData.logoUrl != '' ">, if necessary</span>:</h3>

            <!-- Component to select and preview a new logo -->
            <div preview-image preview-url="ctrl.regData.previewUrl" >
                <br>
                <input type="file" accept="image/*" name="upload-logo" class="file-input" id="logo-file-input"
                         check-image new-logo-file="ctrl.regData.newLogoFile" >
            </div>
            <div class="text-center"><br>
                  <button type="button" class="btn btn-default"
                    ng-click="$broadcast('CANCEL_IMAGE_SELECTION')">Cancel</button>
            </div>

          </div>   <!-- end of TAB: Logo -->


     <!-- TAB: Hours -->
          <div class="registration"  ng-switch-when="Hours">
            <div class="page-header">
              <h2>Opening hours</h2>
            </div>

            <div opening-hours-directive=""></div>

          </div>


    <!-- TAB: Subscribtion Plans -->
        <div ng-switch-when="Plans">
          <div class="page-header">
            <h2>Subscribtion plans</h2>
          </div>
          <div class="row">
            <div class="col-sm-4" ng-repeat="plan in ctrl.subscriptionPlans">
              <div class="panel" ng-class="plan.style">
                <div class="panel-heading">
                  <h3 class="panel-title font18">
                    <label><input type="radio" name="plan"
                                        ng-model="ctrl.regData.subscriptionPlan" ng-value="plan.name">
                    <span ng-bind="plan.name"></span></label>
                  </h3>
                </div>
                <div class="panel-body" ng-bind="plan.description"></div>
              </div>
            </div>
          </div>
        </div>


    <!-- TAB : Save profile -->
        <div ng-switch-when="SaveProfile">
            <div class="blank">&nbsp;</div>
            <div class="alert alert-warning" role="alert" ng-show="ctrl.savingResult[0]==='error' ">
                <strong class="font22">&#10004; Warning:</strong> &nbsp;Error occurred when saving the profile. Try again a bit later
                <br><span ng-show="ctrl.savingResult[1]" ng-bind-html="ctrl.savingResult[1]"></span>
            </div>
            <div class="alert alert-warning" role="alert" ng-show="ctrl.savingResult[0]==='invalid' ">
                <strong class="font22">&#10004; Warning:</strong> &nbsp;You didn't fill in required fields or some of them have errors.
                      <br><br>For example, you might forget to type 'Business name' in the tab 'Basics'.<br>Or you created 
                        an opening hours span in the tab 'Hours' but didn't fill it in -- you should either type time or delete the span.
                      <br><br>Please try again and correct this.
                <br><span ng-show="ctrl.savingResult[1]" ng-bind-html="ctrl.savingResult[1]"></span>
            </div>
            <div class="alert alert-success" role="alert" ng-show="ctrl.savingResult[0]==='success' ">
                <strong class="font22">&#10004; Success:</strong> &nbsp;Your profile was saved successfully
            </div>
        </div>


        </div> <!-- ng-switch -->

    <!-- Submit button -->
          <!-- <div class="save-button">
            <input type="submit" class="btn btn-success btn-lg" value="Save" ng-disabled="regForm.$invalid">
          </div> -->

        </form>
      </div>


  </div>
</div>


