<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-0 col-md-8 col-md-offset-0 col-lg-6 col-lg-offset-0">
    <h2>Your Company Profile</h2>

      <div ng-controller="ProfileController as ctrl">

<!-- Tabs selector -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Basics' ">Basics</a></li>
          <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Logo' ">Logo</a></li>
          <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Plans' ">Subcription plans</a></li>
          <li role="presentation" class="font22 save-profile-bkground"><a href="" data-toggle="tab" 
               ng-click="ctrl.currentTab='SaveProfile'; ctrl.saveUserProfile( ctrl.savingResult )" 
               class="save-profile-color">Save profile</a></li> 
        </ul>

        <form class="form-horizontal" name="regForm" 
                  ng-submit="ctrl.currentTab='SaveProfile'; ctrl.saveUserProfile( ctrl.savingResult )" >
         <div ng-switch="ctrl.currentTab">

    <!-- TAB: Basic information -->
          <div class="registration" ng-switch-when="Basics">

            <div class="page-header">
              <h2>Basic information</h2> <a name="required-fields"></a>
            </div>

            <div class="form-group" style="margin-left:0px;">
              <label for="companyName"><i>*</i> Business name:</label>
              <input type="text" id="companyName" name="companyName" required=""
                         ng-model="ctrl.regData.companyName" class="form-control" > ​
            </div>
            <div class="form-group" ng-class="{'has-error': regForm.foundedAt.$dirty && regForm.foundedAt.$invalid}" 
                   style="margin-left:0px;">
              <label for="foundedAt"><i>*</i> Founded at:</label>
              <input type="number" id="foundedAt" name="foundedAt" required=""
                         placeholder="2000" min="1700" max="2020"
                        ng-model="ctrl.regData.foundedAt" class="form-control">​
            </div>
            <div class="form-group" ng-class="{'has-error': regForm.email.$dirty && regForm.email.$invalid}" style="margin-left:0px;">
              <label><i>*</i> Contact email:</label>
              <input type="email" id="email" name="email" required="" placeholder="your_name@company.com" 
                         ng-model="ctrl.regData.email" class="form-control"> ​
            </div>
            <div class="form-group" style="margin-left:0px;">
              <label for="">Accept payments:</label>
              <select ng-model="ctrl.regData.paymentMethod" 
                          ng-options="method for method in ctrl.paymentMethods" class="form-control">
              </select>
            </div>

         <!-- Opening hours -->
            <label class="pointer" ng-class="ctrl.getHoursClass()" ng-click="ctrl.showHours=!ctrl.showHours">Working hours:</label>
            <div opening-hours-directive=""></div> 

         <!-- Alerts -->
            <div class="blank">&nbsp;</div>
            <div class="alert alert-warning" role="alert" ng-show="regForm.$dirty && regForm.$invalid">
                <strong class="font22">&#10004;</strong> Please fill in the mandatory field(s) <a href="#required-fields">above</a>: 
                <span ng-show="regForm.companyName.$invalid"><br>&mdash; Business name</span>
            </div>

          </div>   <!-- <div class="registration"> -->


     <!-- TAB: Logo -->
          <div class="registration"  ng-switch-when="Logo">
            <div class="page-header">
              <h2>Company logo</h2>
            </div>

            <div class="text-center"><img ng-src="{{ctrl.regData.logoUrl}}" alt="Company logo"></div><br>
            <input type="file" accept="image/*" name="upload-file" class="file-input" id="file-input"><br>
            <div class="text-center">            
              <button type="submit" class="btn-lg btn-primary upload-btn" title="Upload company logo"
                        ng-click="ctrl.uploadLogo( $event )">Upload</button>
            </div>
          </div>


    <!-- TAB: subscribtion plans -->
        <div ng-switch-when="Plans">
          <div class="page-header">
            <h2>Subscribtion plans</h2>
          </div>
          <div class="row">
            <div class="col-sm-4" ng-repeat="plan in ctrl.subscriptionPlans">
              <div class="panel" ng-class="plan.style">
                <div class="panel-heading">
                  <h3 class="panel-title font18">
                    <label><input type="radio" name="plan" ng-model="ctrl.regData.subscriptionPlan" ng-value="plan.name">
                    <span ng-bind="plan.name"></span></label>
                  </h3>
                </div>
                <div class="panel-body" ng-bind="plan.description"></div>
              </div>
            </div>
          </div>
        </div>


    <!-- TAB : Save profile -->
        <div ng-switch-when="SaveProfile">
            <div class="blank">&nbsp;</div>
            <div class="alert alert-warning" role="alert" ng-show="ctrl.savingResult[0]==='error' ">
                <strong class="font22">&#10004; Warning:</strong> &nbsp;Error occurred when saving the profile. Try again a bit later
            </div>
            <div class="alert alert-success" role="alert" ng-show="ctrl.savingResult[0]==='success' ">
                <strong class="font22">&#10004; Success:</strong> &nbsp;Your profile was saved successfully
            </div>
        </div>


        </div> <!-- ng-switch -->

    <!-- Submit button -->
          <div class="save-button">
            <input type="submit" class="btn btn-success btn-lg" value="Save" ng-disabled="regForm.$invalid">
          </div>

        </form>
      </div>


  </div>
</div>


